<!-- <app-card [title]="post[0].title" [imageUrl]="post[0].imageUrl" [userName]="post[0].username"
  [content]="post[0].content"></app-card>

<app-card [title]="post[1].title" [imageUrl]="post[1].imageUrl" [userName]="post[1].username"
  [content]="post[1].content"></app-card>

<app-card [title]="post[2].title" [imageUrl]="post[2].imageUrl" [userName]="post[2].username"
  [content]="post[2].content"></app-card> -->

<!-- using ngIf -->

<app-card *ngFor="let posts of post" [title]="posts.title" [imageUrl]="posts.imageUrl" [userName]="posts.username"
  [content]="posts.content"></app-card>

<router-outlet />